.section-1 {
  height: 100vh; 
  align-items: center;
  text-align: center;

  background-image: url('~/assets/images/2017_lotus_evora_sport_410-2560x1440.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.section-1__heading {
  display: grid;
  grid-template-columns: 3vw minmax(30vw, 50vw) auto;
  grid-template-rows: .98fr min-content min-content auto 6vh;
  height: 100vh;
}

.title {
  font-family: -apple-system, sans-serif; 
  display: block;
  font-weight: 500;
  font-size: 8rem;
  color: #fff;
  letter-spacing: 1px;
  grid-column: 2;
  grid-row: 2;
  
}

.subtitle {
  font-weight: 300;
  font-size: 4.2rem;
  color: #fff;
  word-spacing: .5rem;
  padding-bottom: 1.5rem;
  grid-column: 2;
  grid-row: 3;
}

.links {  
  // 
  grid-column: 2;
  grid-row: 4;
}

.button--green {  
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 4px;
  
  color: #fff;
    background-color: #4670e4;
  text-decoration: none;
  padding: 10px 30px;
  

  &:hover {
    
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.down-arrow-div {
  padding-top: 1rem;
  
  grid-column: 2;
  grid-row: 5;
}

.down-arrow {
  fill: #c1c1c4;
  

  &:hover {
    transform: translateY(5px);
    transition: transform .25s;
    fill: #fff;
  }
}



////////////////////////
//SECTION 2

.section-2 {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #4670e4; 
}

.section-3 {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #63e40d; 
}

.section-4 {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e45846; 
}

